<main class="contenedor">
    <form action="/vacantes/editar/{{vacante.url}}" method="POST" class="default-form">
    <h3>Información general</h3>
    <div class="campo">
        <label>Titulo</label>
        <input value="{{vacante.titulo}}" type="text" name="titulo" placeholder="ej: React developer" requried>
    </div>
    <div class="campo">
        <label>Empresa</label>
        <input value="{{vacante.empresa}} "type="text" name="empresa" placeholder="ej: Empresa contrata" requried>
    </div>
    <div class="campo">
        <label>Ubicación</label>
        <input value="{{vacante.ubicacion}}" type="text" name="ubicacion" placeholder="ej: Mexico o remoto" requried>
    </div>
    <div class="campo">
        <label>Salario (USD)</label>
        <input value="{{vacante.salario}}" type="text" name="salario" placeholder="ej: $500 USD" requried>
    </div>
    <div class="campo">
        <label>Contrato</label>
        <select name="contrato">
            {{#tipoContrato vacante.contrato}}
                <option value="" disabled>-- Selecciona --</option>
                <option value="Freelance">Freelance</option>
                <option value="Tiempo completo">Tiempo completo</option>
                <option value="Medio tiempo">Medio tiempo</option>
                <option value="Por proyecto">Por proyecto</option>
            {{/tipoContrato}}
        </select>
    </div>
    <h3>Descripción del puesto</h3>
    <div class="campo descripcion">
        <label>Descripción</label>
        <input value="{{{vacante.descripcion}}}" type="hidden" id="x" name="descripcion">
        <trix-editor input="x">Descripción</trix-editor>
    </div>

    <h3>Conocimientos</h3>
    <ul class="lista-conocimientos">
        {{#seleccionarSkills vacante.skills}}
        {{/seleccionarSkills}}
    </ul>

    <div class="campo centrar-horizontal">
        <input type="hidden" name="skills" id="skills">
        <input type="submit" value="Guardar cambios" class="btn btn-azul">
    </div>
    </form>
</main>